name: Mirror and run GitLab CI on PR

on:
  workflow_dispatch:
  issue_comment:
    types: created

jobs:
  print-message:
    runs-on: ubuntu-latest
    if: ${{ github.event.issue.pull_request }} && github.event.issue_comment.body == 'begin benchmark'
    steps:
    - name: Print a message
      run: echo "Hello, world!"
